<div class="row col-12 justify-content-center">
    <div class="col-12 col-sm-12 col-md-8">
        <div class="details">
            <div *ngIf="loadStatus; else main" class="d-flex flex-column align-items-center justify-content-center">
                <div class="spinner-border text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>  
            </div>
        </div>
    </div>
</div>

<ng-template #main>
    <header class="d-flex flex-column align-items-center">
        <h1 class="text-center">Weather in {{weather.name}}, {{weather.sys.country}}</h1>
        <p>{{unixTime(weather.dt)}} {{unixDate(weather.dt)}}</p>
    </header>
    <div class="detail">
        <div class="d-flex flex-column align-items-center flex-md-row align-items-md-center">
            <div class="banner-main mr-md-4">
                <div class="banner-block-a">
                    <h1>{{weather.main.temp}}ºC</h1>
                </div>
                <div class="banner-block-b">
                    <img src="https://openweathermap.org/img/w/{{weather.weather[0].icon}}.png" alt="{{ weather.weather[0].description }}">
                    <p class="font-italic">{{ weather.weather[0].description}}</p>
                </div>
            </div>
            <div class="banner-second flex-grow-1">
                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <th scope="row">Máx</th>
                            <td class="max">{{weather.main.temp_max}} ºC</td>
                        </tr>
                        <tr>
                            <th scope="row">Mín</th>
                            <td class="min">{{weather.main.temp_min}} ºC</td>
                        </tr>
                        <tr>
                            <th scope="row">Sunrise</th>
                            <td>{{convertMS(weather.sys.sunrise)}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Sunset</th>
                            <td>{{convertMS(weather.sys.sunset)}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="d-flex flex-md-row align-items-md-end flex-column mt-5 mb-3"> 
            <h1>5 day weather forecast</h1> <p class="font-itali pb-md-1 pl-md-3">every 3 hours</p>
        </div>
        <div class="list">
            <div class="list-item d-flex  align-items-center justify-content-around" *ngFor="let item of forecast.list">
                <div class="list-item-selected">
                    <span></span>
                </div>
                <header>
                    <h6>{{unixDate(item.dt)}}</h6>
                    <p>{{unixTime(item.dt)}}</p>
                </header>
                <div class="list-item-a d-flex align-items-center flex-column text-center">
                    <img src="https://openweathermap.org/img/w/{{item.weather[0].icon}}.png" alt="{{ item.weather[0].description }}">
                    <p class="font-italic">{{ item.weather[0].description}}</p>
                </div>
                <div class="list-item-b">
                    <span class="max p-2"> {{item.main.temp_max}} ºC</span>
                    <span class="min p-2"> {{item.main.temp_min}} ºC</span>
                </div>
            </div>
        </div>
    </div>
</ng-template>